# Virtual Environments
.venv/
backend/venv/

# Node
frontend/node_modules/
frontend/dist/

# Env files
*.env
.env
.env.local
.env.*.local

# Build folders
dist/
build/

# Temporary and Exports
stitch_exports/
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/
